.content {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container {
    background-color: #000000d0;
    height: 100vh;
    width: 550px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 0 280px;
    padding: 20px 26px 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.quantity {
    text-align: center;
    pointer-events: none;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    outline-width: 0;
    border: 1.3px solid #000;
}

.actionContainer {
    display: flex;
    padding-bottom: 25px;
}

.item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
}

.cartMenuImg {
    cursor: pointer;
}

.actions_Button {
    background-color: #000;
    width: 26px;
    height: 23px;
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.actions_Button:active{
    background-color: transparent;
}
.actions_Button:disabled{
    cursor: no-drop;
    background-color: #000;
}