.content {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

.container {
    background-color: #f1f1f1;
    height: 100vh;
    width: 550px;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 0 280px;
    padding: 20px 26px 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

.closeBtn {
    z-index: 1;
    margin: 5px 10px;
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 28px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: ease 250ms;
    user-select: none;
}

.closeBtn:hover,
.closeText:hover {
    color: rgb(48, 48, 48);
}

.closeText {
    font-size: 14px;
    padding-left: 3px;
}

.titleMyCart {
    position: relative;
    margin: 35px 0 15px 0;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    text-transform: uppercase;
}

.quantity {
    text-align: center;
    pointer-events: none;
    height: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    outline-width: 0;
    border: 1px solid #006eff;

}

.actionContainer {
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc
}

.item {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    justify-content: space-between;
}

.cartMenuImg {
    cursor: pointer;
}

.actions_Button {
    background-color: #f1f1f1;
    width: 44px;
    height: 28px;
    cursor: pointer;
    color: #333;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #006eff;
}

.actions_Button:active {
    background-color: #cfcfcf;
}

.actions_Button:disabled {
    cursor: no-drop;
    background-color: #acacac;
}

@media (max-width: 590px) {
    .container {
        width: 100vw;
        border-radius: 0;
    }
}