.container {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	margin-top: 180px;

}
.titleProducts{ 
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
}

.sortPrice span {
	font-family: 'Oswald', sans-serif;
	font-size: 13PX;
}

.searchContainer {
	position: relative;
	display: flex;
	justify-content: center;
}

.search {
	width: 500px;
	height: 40px;
	border: 2px solid #cacaca;
	outline: none;
	border-radius: 10px;
	text-indent: 10px;
}

.searchLupa {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #313131;
	font-size: 26px;
	padding: 0 26px;
	padding-top: 6px;
	border-radius: 0 7px 0 35px;
	cursor: pointer;
	border: none;
}

.sortPrice {
	margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    gap: 60vw;
	align-items: flex-end;
}

.priceSorting {
	text-align: center;
	min-width: 147px;
}