.container {
	display: grid;
	grid-template-columns: 100vw;
	justify-items: center;
	padding-top: 180px;
	background-color: #fff;
}

.titleProducts {
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
}

.sortPrice span {
	font-family: 'Oswald', sans-serif;
	font-size: 13PX;
}

.searchContainer {
	position: relative;
}

.search {
	width: 30vw;
	height: 40px;
	border: 2px solid #cacaca;
	outline-color: #006eff;
	border-radius: 10px;
	text-indent: 10px;
}

.searchLupa {
	position: absolute;
	top: 0;
	right: 0;
	color: #fff;
	background-color: #313131;
	font-size: 26px;
	padding: 6px 26px 1px 26px;
	border-radius: 0 7px 0 35px;
	cursor: pointer;
	border: none;
}

.sortPrice {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.priceSorting {
	text-align: center;
	min-width: 163px;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.gridContainer {
	display: flex;
	background: rgb(255, 255, 255);
}

.gridButtonOption {
	display: flex;
	background: rgb(255, 255, 255);
	border: 0px;
	margin: 0px 8px;
	cursor: pointer;
}

.gridOption {
	background: rgb(255, 255, 255);
	height: 20px;
	width: 20px;
	border: 1px solid #00000060;
	border-radius: 10%;
	margin: 0px 3.5px;
}

.gridOptionActive {
	border: 1px solid #000000;
}

@media (min-width: 1024px) {
	.sortPrice {
		
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
		width: 100%;
		grid-gap: 5vw;
		align-items: flex-end;
	}
}

@media (max-width: 590px) {
	.container {
		padding-top: 45px;
	}

	.search {
		width: 60vw;
	}

	.searchLupa {
		padding: 9px 20px 0 22px;
		font-size: 23px;
		border-radius: 0 7px 0 28px;
	}

	.sortPrice {
		gap: 35vw;
	}

	.titleProducts {
		font-size: 26px;
	}

	.priceSorting {
		font-size: 12.5px;
	}

	.sortPrice .css-1s2u09g-control {
		width: 50px;
	}
}