.container {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
}

.containerMenu {
	background-color: #ececec;
	border-radius: 30px 0 30px;
	overflow: hidden;
	position: relative;
	display: grid;
	justify-content: center;
	justify-items: center;
	padding: 0 4.6rem;
	font-family: 'Varela Round', 'Arial', sans-serif;
}


.containerLogin {
	grid-template-rows: 1fr 2.5fr;
}

.containerRegister {
	grid-template-rows: 0.5fr 2.1fr;
}

.containerForgotPass {
	grid-template-rows: 2fr 3.5fr;
}

.containerVerifyRecoverCode {
	grid-template-rows: 15fr auto 5fr 15fr;
}

.changePass {
	grid-template-rows: 1.2fr 2fr;
}

.formContainer {
	height: 70%;
}

.topBtn {
	position: absolute;
	top: 10px;
	border: none;
	border-radius: 50%;
	padding: .375rem;
	font-size: 1.75rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: ease 250ms;
	user-select: none;
}

.closeLogin {
	right: 8px;
	position: absolute;
	top: 4px;
	right: 5px;
	font-size: 1.54rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.returnLogin {
	left: 15px;
}

.topBtn svg {
	transition: 400ms ease-in-out;
	color: #000;
	border-radius: 10%;
}

.topBtn:hover svg {
	padding: .188rem;
}

.topBtn:hover {
	background-color: #57575760;
}

.loginTitle {
	margin: auto auto .625rem auto;
	font-size: 2.625rem;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	gap: .538rem 0;
	width: 22.5rem;
	align-items: center;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.inputGroup {
	display: flex;
	align-items: center;
	margin-bottom: .1rem;
	width: 100%;
	position: relative;
	border: 1px solid #DADCE0;
	border-radius: .5rem;
}

.input {
	font-size: 1rem;
	width: 100%;
	height: 48px;
	border: none;
	outline: none;
	padding: 1rem 1.75rem 1rem 1rem;
	background: none;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
	transition: background-color 50000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

/*Input focus move up label*/
.input:focus+.placeHolder {
	top: -.58rem;
	left: 3rem;
	font-size: .9rem;
	color: #006eff;
	font-weight: 500;
}

/*Input focus sticky top label*/
.input:not(:placeholder-shown).input:not(:focus)+.topPlaceholder {
	top: -.58rem;
	left: 1.9rem;
	font-size: .882rem;
	font-weight: 500;
}

/*Input focus*/
.inputNormal:focus {
	outline: 2px solid #006eff;
}

.inputError:focus {
	outline: 2px solid #ff0000;
}

.placeHolder {
	pointer-events: none;
	position: absolute;
	left: 2.5rem;
	top: .9rem;
	padding: 0 .35rem;
	background-color: #ececec;
	color: #5f6368;
	font-size: .98rem;
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
	transform-origin: bottom left;
}

.icon {
	padding: 0 .455rem;
	font-size: 2.45rem;
	color: #006eff;
	border-right: 1px solid #DADCE0;
}

.iconUser {
	font-size: 2.7rem;
}

.iconUserNormal {
	color: #006eff;
}

.containerCheckBoxAndRecover {
	display: flex;
	justify-content: space-between;
	gap: 2.83rem;
	align-items: center;
}

.labelRemeber {
	font-size: .885rem;
	margin-left: .15rem;
}

.containerRemember {
	display: flex;
	align-items: center;
}

.recoverPassword {
	border: none;
	cursor: pointer;
	user-select: none;
	font-size: .886rem;
	color: #575757;
	transition: 300ms;
}

.recoverPassword:hover {
	color: #000;
}

.btn {
	transition: 400ms ease;
	text-transform: uppercase;
	border-radius: .2rem;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: .863rem;
	letter-spacing: .065rem;
	font-weight: bold;
	padding: .725rem 3.525rem;
	align-self: center;
}

.btnError {
	border: 1px solid #ff0000;
}

.btn:enabled {
	background-color: #006eff;
	border: 1px solid #006eff;
	cursor: pointer;
}

.btn:disabled {
	background-color: #6363636b;
	cursor: default;
}

.btn:enabled:hover {
	background-color: transparent;
	color: #006eff;
}

.btn:enabled:active {
	scale: .95;
}

.btnLoading {
	position: relative;
	border: none;
}

.btnLoading .btnText {
	color: #ffffff;
	transition: all 0.2s;
}

.btnLoading .btnText {
	visibility: hidden;
	opacity: 0;
}

.btnLoading::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid transparent;
	border-top-color: #ffffff;
	border-radius: 50%;
	animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
	from {
		transform: rotate(0turn);
	}

	to {
		transform: rotate(1turn);
	}
}

.switchContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
	margin-top: 1rem;
}

.or {
	margin-bottom: 1rem;
	color: #3f3f3f;

}

.or::before {
	content: '';
	height: .05rem;
	width: 31%;
	background-color: #a3a3a3;
	top: .6rem;
	left: -1rem;
	position: absolute;


}

.or::after {
	content: '';
	height: .05rem;
	width: 31%;
	background-color: #a3a3a3;
	top: .6rem;
	right: -1rem;
	position: absolute;

}

.switchBtn {
	cursor: pointer;
	border: 0;
	border-radius: 4px;
	font-weight: 600;
	margin: 0 10px;
	padding: .3rem 2rem;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}


.switchBtn {
	color: #006eff;
	background-color: #ffffff;
	border: 1px solid #006eff;
}

#politicaTermos {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.containerTerms {
	text-align: center;
	font-size: .823rem;
	width: 80%;
	margin: .8rem 0;
}

.link {
	color: #006eff;
}

#remember {
	height: .92rem;
	width: .92rem;
}

#terms {
	height: 1rem;
	width: 1rem;
}

.error {
	border-radius: 8px;
	text-align: center;
	color: #ff0000;
	font-size: .888rem;
}

.nameInput {
	display: flex;
	column-gap: .3rem;
}

.nameInput input {
	text-transform: capitalize;
}