.containerMenu {
	background-color: #ececec;
	border-radius: 30px 0 30px;
	position: relative;
	display: grid;
	align-items: flex-start;
	justify-content: center;
	justify-items: center;
	user-select: none;
	width: 32.25rem;
	height: 34.5rem;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.containerLogin {
	grid-template-rows: 1fr 2.3fr;

}

.containerRegister {
	grid-template-rows: 1fr 3.5fr;
}

.formContainer {
	height: 70%;
}

.topBtn {
	position: absolute;
	top: 10px;
	border: none;
	border-radius: 50%;
	padding: .375rem;
	font-size: 1.75rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	transition: ease 250ms;
	user-select: none;
}

.closeLogin {
	right: 8px;
	position: absolute;
	top: 4px;
	right: 5px;
	font-size: 1.54rem;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.returnLogin {
	left: 15px;
}

.topBtn svg {
	transition: 400ms ease-in-out;
	color: #000;
	border-radius: 10%;
}

.topBtn:hover svg {
	padding: .188rem;
}

.topBtn:hover {
	background-color: #57575760;
}



.newUser {
	top: 8px;
	right: 42px;
	background-color: transparent;
	border: none;
	transition: ease-in-out 200ms;
	padding: .375rem .375rem 0 .375rem;
	text-align: center;
	margin-bottom: 4px;
	font-size: 1rem;
}

.register {
	border: none;
	cursor: pointer;
	margin-bottom: 5px;
	color: #000;
	transition: 300ms;
	font-size: .9em;
}

.register:hover {
 text-decoration: underline;
}

.loginTitle {
	margin: auto auto .625rem auto;
	font-size: 2.625rem;
	font-weight: 600;
	font-family: 'Oswald', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	gap: .438rem 0;
	width: 22.5rem;
	align-items: center;
}

.input {
	height: 45px;
	width: 100%;
	border: none;
	background-color: #ecf0f1;
	outline-color: #006eff;
	text-indent: 10px;
	padding-right: 24px;
	font-size: .9rem;
}

.label {
	display: flex;
	align-items: center;
	border-radius: 3px;
	position: relative;
	width: 100%;
}

.labelNormal {
	border: 1px solid rgba(0, 110, 255, 0.247);

}

.labelError {
	border: 1px solid #ff0000;
}

.icon {
	padding: 0 .525rem;
	font-size: 2.45rem;
	background-color: #ecf0f1;
}

.iconUser {
	font-size: 2.65rem;
}

.iconNormal {
	color: #006eff;
}

.iconError {
	color: #ff0000;
}

.iconUserNormal {
	color: #006eff;
	border-bottom: 1px solid rgba(0, 110, 255, 0.247);
	border-left: 1px solid rgba(0, 110, 255, 0.247);
	border-top: 1px solid rgba(0, 110, 255, 0.247);
}

.containerCheckBoxAndRecover {
	display: flex;
	justify-content: space-between;
	gap: 2.83rem;
	align-items: center;
}

.labelRemeber {
	font-size: .885rem;
	margin-left: .15rem;
}

.containerRemember {
	display: flex;
	align-items: center;
}

.recoverPassword {
	border: none;
	cursor: pointer;
	user-select: none;
	font-size: .886rem;
	color: #575757;
	transition: 300ms;
}

.recoverPassword:hover {
	color: #000;
}

.btn {
	transition: 400ms ease;
	text-transform: uppercase;
	border-radius: .2rem;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	color: #fff;
	font-size: .863rem;
	letter-spacing: .065rem;
	font-weight: bold;
	padding: .725rem 3.525rem;
	align-self: center;
}

.btnEnable {
	background-color: #006eff;
	border: 1px solid #006eff;
	cursor: pointer;
}

.btnDisable {
	background-color: #6363636b;
	border: 1px solid #ff0000;
	cursor: default;
}

.btnEnable:hover {
	background-color: transparent;
	color: #006eff;
}

.btnEnable:active {
	scale: .95;
}

#politicaTermos {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: center;
}

.labelTerms {
	text-align: center;
	font-size: .813rem;
	width: 85%;
	margin: .8rem 0;
}

.link {
	color: #006eff;
}

#terms {
	height: 25px;
	width: 16px;
}

.termsError {
	outline: 2px solid red;
	outline-offset: 1px;
}

.error {
	width: 100%;
	border-radius: 8px;
	text-align: center;
	color: red;
	font-size: .938rem;
}

.success {
	width: 100%;
	height: 28px;
	background-color: #00c400;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: .906rem;
}

.background {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.focusOut {
	position: absolute;
	width: 100%;
	height: 100%;
}

.container {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100vw;
	opacity: 0;
	z-index: 16;
}

.containerLoginModal {
	position: fixed;
	top: 0;
	z-index: 16;
}

.nameInput {
	display: flex;
	column-gap: .3rem;
}

.nameInput input {
	text-transform: capitalize;
}