.container {
	background-color: #ececec;
	border-radius: 30px 0 30px;
	-moz-box-shadow: inset 0 0 10px #000000af;
	-webkit-box-shadow: inset 0 0 10px #000000af;
	box-shadow: inset 0 0 10px #000000af;
	position: relative;
	display: grid;
	align-items: flex-start;
	justify-content: center;
	justify-items: center;
	user-select: none;
	width: 450px;
	height: 550px;
}

.containerLogin {
	grid-template-rows: 1fr 1.9fr;

}

.containerRegister {
	grid-template-rows: 1fr 3fr;
}

.formContainer {
	height: 70%;
}

.closeLogin {
	position: absolute;
	top: 3px;
	right: 5px;
	font-size: 30px;
	background-color: transparent;
	border: none;
	cursor: pointer;
	transition: ease-in-out 200ms;
	padding: 6px 6px 0 6px;
}

.newUser {
	top: 8px;
	right: 42px;
	background-color: transparent;
	border: none;
	transition: ease-in-out 200ms;
	padding: 6px 6px 0 6px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 15px;
}

.register {
	border: none;
	cursor: pointer;
	margin-bottom: 5px;
	color: #575757;
	transition: 300ms;
}

.register:hover {
	color: #000;
}

.loginTitle {
	margin: auto auto 10px auto;
	font-size: 32px;
	font-weight: 600;
	font-family: 'Josefin Sans', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 7px 0;
	width: 300px;
}

.input {
	height: 45px;
	width: 100%;
	border: none;
	background-color: #ecf0f1;
	outline-color: #006eff;
	text-indent: 10px;
}

.label {
	display: flex;
	align-items: center;
	border-radius: 3px;
}

.labelNormal {
	border: 1px solid rgba(0, 110, 255, 0.247);

}

.labelError {
	border: 1px solid #ff0000;
}

.icon {
	padding: 0 10px;
	height: 45px;
	font-size: 42px;
	background-color: #ecf0f1;
}

.iconNormal {
	color: #006eff;
}

.iconError {
	color: #ff0000;
}

.containerRecover {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.recoverPassword {
	border: none;
	cursor: pointer;
	user-select: none;
	font-size: 14.5px;
	color: #575757;
	transition: 300ms;
}

.recoverPassword:hover {
	color: #000;
}

.btn {
	transition: background-color 400ms ease;
	text-transform: uppercase;
	border-radius: 15px;
	color: #fff;
	font-size: 13px;
	padding: 10px 50px;
	align-self: center;
	margin-top: 1rem;
}
.btnEnable{
	background-color: #006eff;
	border: 1px solid #006eff;
	cursor: pointer;
}
.btnDisable{
	background-color: #6363636b;
	border: 1px solid #ff0000;
	cursor: default;
}

.btnEnable:hover {
	background-color: transparent;
	color: #006eff;
}

.btnEnable:active {
	background-color: #006eff46;
}

.labelTerms {
	text-align: center;
	font-size: 13px;
	display: inline-block;
	width: 93%;
}

.link {
	color: #006eff;
}

#terms {
	height: 25px;
	width: 16px;
}

.termsError {
	outline: 2px solid red;
	outline-offset: 1px;
}

.error {
	width: 100%;
	border-radius: 8px;
	text-align: center;
	color: red;
	font-size: 15px;
}

.success {
	width: 100%;
	height: 28px;
	background-color: #00c400;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 14.5px;
}