.container{
	position: absolute;
	background-color: #fff;
	transform: translateY(78px);
	width: 50%;
	box-shadow: 0 0 8px #000000de;
	border-radius: 5px;
	padding: 8px;
	right: 1.1rem;
	z-index: 9999;
	nav-index: 9999;
}
.container::before{
	content: '';
	background-color: #fff;
	border-left: 1px solid #000;
	border-top: 1px solid #000;
	width: 10px;
	height: 10px;
	position: absolute;
	top: -6px;
	right: 10px;
	transform: rotate(45deg);

}
.modalHeader{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.close{
	border: none;
	font-size: 17px;
	cursor: pointer;
	background-color: transparent;
}
.close svg{
	transition: ease 250ms;
}
.close:hover svg{
	padding: 2px;
}

.modalFooter{
	display: flex;
	justify-content: flex-end;
	margin-top: 10px;
}
.btn{
	border: none;
	font-size: 15px;
	cursor: pointer;
	color: #fff;
	padding: 8px;
	border-radius: 3px;
	transition: ease 250ms;
}
.btnSecondary{
	margin-right: 7px;
	background-color: #6c757d;
}
.btnSecondary:hover{
	background-color: #5a6268;
}
.btnPrimary{
	background-color: #006eff;
}
.btnPrimary:hover{
	background-color: #0069d9;
}