.headerCart {
	background-color: #f1f1f1;
	z-index: 11;
	height: 80px;
	width: 100%;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	margin: 0 0 5px 0;
	text-align: center;
	position: fixed;
	border-radius: 2%;

}

.closeCart {
	margin: 5px 0 0 5px;
	padding-right: 10px;
	border: none;
	font-size: 28px;
	cursor: pointer;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	transition: ease 250ms;
	user-select: none;
}

.closeCart svg {
	transition: 400ms ease-in-out;
	background-color: #fff;
	border-radius: 10%;
}

.closeCart svg:hover,
.closeText:hover {
	padding: 3px;
	background-color: #57575760;
}

.closeText {
	font-size: 15px;
	padding-left: 2.5px;
	font-weight: bold;
	text-transform: uppercase;
}

.titleMyCart {
	font-size: 18px;
	font-weight: 560;
	text-transform: uppercase;
	font-family: 'Josefin Sans', sans-serif;
}

.deleteAll {
	position: fixed;
	z-index: 13;
	right: 8px;
	top: 3px;
	font-size: 13px;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;
	display: flex;
	align-items: center;
	-webkit-box-shadow: 0px 0px 6px 2px #00000048;
	box-shadow: 0px 0px 6px 2px #00000048;
}

.deleteAllIcon {
	font-size: 20px;
}