.infosContainer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	height: 5.625rem;
	background-color: #006eff;
	width: 100%;
	color: #fff;
	font-weight: 200;
	text-align: center;
	font-family: 'Varela Round', 'Arial', sans-serif;
	font-size: 0.875rem;
	align-items: center;
	position: relative;
}
.infosContainer p{
	font-size: 2.25rem;
    max-height: 2.188rem;
}
.infoItem{
	border-right: 1px solid rgb(255, 255, 255);
}

@media (max-width:590px) {
	.infosContainer p{
		font-size: 1.75rem;
	}
	.infosContainer{
		font-size: 0.665rem;
	}
}