.footer {
	width: 100%;
	height: 14.063rem;
	bottom: 0px;
	background-color: #181818;
	color: #fff;
	position: fixed;
	font-family: 'Varela Round', 'Arial', sans-serif;

}

.middle {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	justify-items: center;
	margin-top: 1.875rem;
}

.footerOption {
	display: flex;
	flex-direction: column;
}

.footerOption h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.375rem;
}

.footerOption a {
	text-decoration: none;
	color: #cacaca;
	font-size: 0.813rem;
	display: flex;
	align-items: center;
	line-height: 1.375rem;
}

.footerOption a:hover {
	text-decoration: underline;
}

.footerOption a span {
	font-size: 1.625rem;
	padding-right: .5rem;
}

.socialMedia {
	display: flex;
	justify-content: space-around;
}

.social a {
	font-size: 1.625rem;
	background-color: #006eff;
	padding: 0.313rem;
	border-radius: 50%;
	margin-top: 0.625rem;
}

.social a:not(:last-child) {
	margin-right: 0.938rem;
}

.copyright {
	margin-top: 1.875rem;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.copyright span {
	color: #a3a3a3;
	font-size: 0.813rem;
}

.copyright span:last-child {
	font-size: 0.625rem;
}

.copyright a {
	text-decoration: none;
	color: #a3a3a3;
}

@media (max-width: 590px) {
	.footer {
		height: 425px;
	}

	.middle {
		margin-top: 1.25rem;
		grid-template-columns: none;
		grid-template-rows: 7.5rem 7.5rem 1fr;
		align-items: center;
		justify-items: center;
	}

	.footerOption a {
		font-size: 0.906rem;
		line-height: 1.625rem;
	}

	.social a {
		font-size: 1.563rem;
	}

	.footerOption:not(:last-child) {
		border-bottom: 1px solid #ffffff1c;
	}

	.footerOption {
		text-align: center;
	}

	.footerOption:nth-child(3) {
		margin-top: 1.25rem;
	}

	.copyright span {
		font-size: 0.688rem;
	}

	.copyright span:last-child {
		font-size: 0.531rem;
	}
}

.containerCookies {
	position: fixed;
	right: 50%;
	transform: translate(50%, 0);
	bottom: .5vw;
	width: 70%;
	display: flex;
	justify-content: center;
	z-index: 99;
}