.container {
	background-color: #ecececf3;
	border-radius: 5px;
	box-shadow: 0 8px 6px -6px #424242;
	width: 58%;
	padding: .313rem .625rem;
	position: relative;
}

.content {
	text-align: start;
	width: 100%;
	display: flex;
	align-items: flex-end;
	font-family: 'Roboto', 'Arial', sans-serif;
}

.main {
	width: 100%;
}

.title {
	color: #00000091;
	margin-bottom: 0.188rem;
	font-size: 1rem;
	font-weight: 500;
	font-style: italic;
	text-transform: uppercase;
}

.btnClose {
	position: absolute;
	right: 10px;
	background-color: transparent;
	border: none;
	font-size: .938rem;
	cursor: pointer;
	margin-top: .125rem;
}

.btnClose svg {
	transition: ease 250ms;
}

.btnClose:hover svg {
	padding: .071rem;
}

.btnContainer {
	display: flex;
	justify-content: flex-end;
	width: 84%;
}

.btn {
	padding: .313rem;
	font-size: .938rem;
	cursor: pointer;
	transition: ease-in-out 250ms;
}

.btnRequired {
	margin-right: .313rem;
	border: 2px solid #006eff;
	color: #006eff;
}

.btnAccept {
	background-color: #006eff;
	color: #fff;
	border: 2px solid #006eff;
	display: flex;
	align-items: center;
}

.btn:hover {
	opacity: 0.7;
}

.cookieIcon {
	font-size: 1.313rem;
	margin-right: .313rem;
}

.policy {
	color: #006eff;
}

@media (max-width: 890px) {
	.content {
		width: 100%;
		flex-direction: column;
	}

	.btn {
		margin-top: 4px;
		padding: .25rem;
		font-size: .838rem;
	}
}