.loading{
	width: 100vw;
	height: 100vh;
	padding: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.425);
	position: fixed;
	z-index: 999;
	backdrop-filter: blur(2px);
	top: 0;
}
.spinner {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%,#4766ff);
	animation: spinner 0.8s infinite linear;
 }
 
 @keyframes spinner {
	to {
	   transform: rotate(1turn);
	}
 } 