.character {
	border: none;
	font-size: 20px;
	border-radius: 8px;
	background-color: #f6f5fa;
	box-shadow: 0 2px 0 #e4e2f5;
	color: #272729;
}

.characterError {
	border: 2px solid #ff0000;
	font-size: 20px;
	border-radius: 8px;
	background-color: #f6f5fa;
	box-shadow: 0 2px 0 #e4e2f5;
	color: #ff0000;
}