.container {
    background-color: #f1f1f1;
    height: 100vh;
    width: 550px;
    border-left: 2px solid #000;
    font-family: 'Varela Round', 'Arial', sans-serif;
}

.content {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    height: 65%;

}

.containerProduct {
    margin-top: 5rem;
}

.btContainer {
    background-color: #fff;
    border-top: 1px solid #000;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 101%;
    height: 25vh;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 2fr;
    align-items: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.totalContainer {
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    margin: 0 40px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

.pagament {
    display: flex;
    flex-direction: column;
}

.totalPrice {
    font-size: 24px;
    font-weight: 500;
    color: #737373;
}

.spot {
    display: flex;
    font-size: 22px;
    gap: 7px;
    align-items: center;
    justify-content: center;
}

.price {
    font-weight: 600;

}


.checkout {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 70px;
    cursor: pointer;
    background-color: #111;
    color: #f1f1f1;
    font-size: 19px;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.cart {
    z-index: 15;
    position: fixed;
    right: 0;
    opacity: 0;
}

@media (max-width: 590px) {
    .container {
        width: 100vw;
        border-radius: 0;
    }
}