.item {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #ccc
}

.infoProduct {
    min-width: 370px;
    max-width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productTitle {
    max-width: 75%;
    font-size: 1.3rem;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleAndDelete {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
}

.containerPriceAndActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.containerImg {
    cursor: pointer;
    position: relative;
    width: 7.1rem;
    height: 6rem;
    border-radius: 10px;
    overflow: hidden;
}

.actions_Button {
    padding: .373rem;
    cursor: pointer;
    color: #333;
    font-size: 1.32rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    transition: ease 200ms;
}

.actions_Button:hover {
    background-color: #e4e4e4;
}

.actions_Button svg {
    transition: ease 200ms;
}

.actions_Button:active svg {
    padding: 2px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
}

.oldPrice {
    text-decoration: line-through;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .97rem;
    color: #757171c2;
}