
.content {
	position: absolute;
	transition: 250ms ease;
}

.contentNormal {
	transform: translateY(1.25rem) translateX(-5rem);
}

.contentSmall {
	transform: translateY(.429rem) translateX(-3rem);
}