.header {
	display: grid;
	position: fixed;
	width: 100%;
	z-index: 11;
	background: linear-gradient(135deg,
			#A4E9F9 0%,
			#C5AEF2 50%,
			#8578EA 100%);
	align-items: center;
	grid-template-columns: 1fr 0fr 1fr;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	transition: 250ms ease;
}

.headerNormal {
	font-size: 100%;
	height: 5rem;
}

.headerSmall {
	font-size: 85%;
	height: 3.125rem;
}

.logo {
	user-select: none;
}

.containerBtn {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.btnInfoContainer {
	display: flex;
	align-items: center;
}

.btn {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.btnInfo {
	display: flex;
	font-size: 1.625em;
	padding: 0.438rem;
	border-radius: 50%;
	transition: background-color 400ms;
	position: relative;
	color: inherit;
}

.countCartItems {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #000;
	border-radius: 50%;
	position: absolute;
	transition: 250ms ease;
}

.countCartitemsNormal {
	width: 1.125rem;
	height: 1.125rem;
	font-size: 0.75rem;
	bottom: 1.438rem;
	left: 1.563rem;
	user-select: none;
}

.countCartitemsSmall {
	width: 0.958rem;
    height: 0.958rem;
    font-size: 0.656rem;
	bottom: 1.25rem;
	left: 1.438rem;
	user-select: none;
}

.btnInfo:hover {
	background-color: #0000002d;
}

.btnLogin {
	flex-direction: column;
	align-items: center;
	border-radius: 10%;
	font-size: 2.169em;
}

.userContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: .538rem;
	position: relative;
}

.loginText {
	font-family: 'Varela Round', sans-serif;
	font-size: 0.989rem;
	font-weight: bold;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
}

.btnLogin:active {
	background-color: #0000006e;
}

.scrollTop {
	top: 0;
}
@media (min-width: 1024px) {
	.headerNormal{
		padding: 0 12rem;

	}
	.headerSmall{
	padding: 0 10.7rem;
		
	}
}

@media (max-width: 590px) {
	.btnInfo {
		font-size: 1.5rem;
		border-radius: 20%;
	}

	.logo {
		width: 4.5rem;
	}

	.header {
		display: flex;
		flex-direction: column;
		gap: 1.625rem;
	}

	.btnLogin {
		font-size: 1.983rem;
	}

	.loginText {
		font-size: 0.888rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.btnInfoContainer {
		display: grid;
		position: relative;
		justify-items: flex-end;
		grid-template-columns: 0fr 0fr 1fr;
		position: relative;
	}

	.containerBtnMobile {
		width: 100%;
		position: relative;
		bottom: 0;
	}

	/* .taggleMenuMobile {
		display: grid;
		grid-template-columns: 4fr 1fr 0.3fr;
		align-items: center;
	} */

	.NavMenuList {
		position: relative;
		row-gap: 2.25rem;
	}

	.menuHamburguer {
		position: relative;
		bottom: .138rem;
		margin-left: .438rem;
	}

	.avatar {
		font-size: 1.875rem;
	}
}