.NavMenuList {
	column-gap: 1.563rem;
	list-style-type: none;
	display: flex;
}

.NavMenuList li {
	position: relative;
}

.NavMenuList li a {
	color: inherit;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	padding: .5rem 0;
	cursor: pointer;
	font-size: 1.513em;
}

.NavMenuList li::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 0%;
	height: 100%;
	border-bottom: 3px solid #0099ff;
	transition: 250ms ease-in-out;
	overflow: hidden;
}

.NavMenuList li:hover::before {
	width: 100%;
}