.NavMenuList {
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.NavMenuList li {
	position: relative;
}

.NavMenuList li:not(:last-child) {
	margin-right: 1.563rem;
}

.NavMenuList li a {
	color: inherit;
	font-family: 'Josefin Sans', sans-serif;
	text-transform: capitalize;
	text-decoration: none;
	padding: .5rem 0;
	cursor: pointer;
}

.NavMenuList li::before {
	content: '';
	position: absolute;
	z-index: -1;
	width: 0%;
	height: 100%;
	border-bottom: 3px solid #0099ff;
	transition: 250ms ease-in-out;
	overflow: hidden;
}

.NavMenuList li:hover::before {
	width: 100%;
}