.container {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 100%;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.content {
	box-shadow: 0 0 8px #000000de;
	height: 84%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	align-items: center;
	justify-content: center;
}

.products {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.containerImg {
	position: relative;
}
.containerImg img{
	max-height: 80px !important;

}

.productCount {
	width: 1.2rem;
	height: 1.2rem;
	font-size: .7em;
	top: -.3116rem;
	right: -.6rem;
	color: #fff;
	background-color: #151515;
	position: absolute;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.productImg {
	object-fit: none;	
}