.showPassContainer {
	border: none;
	position: absolute;
	transform: translateY(9%);
	right: .3rem;
	color: #006eff;
	font-size: 1.375rem;
	cursor: pointer;
	background-color: transparent;
	z-index: 2;
}