.loading{
	width: 100vw;
	height: 100vh;
	padding: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.425);
	position: absolute;
	z-index: 999;
}
.spinner {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	background: conic-gradient(#0000 10%,#4766ff);
	-webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 14.1px),#000 0);
	animation: spinner-zp9dbg 0.8s infinite linear;
 }
 
 @keyframes spinner-zp9dbg {
	to {
	   transform: rotate(1turn);
	}
 } 