.container {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	background-color: #fff;
	font-size: 100%;
}

.checkout {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	justify-items: center;
	font-family: 'Varela Round', 'Arial', sans-serif;
	margin-top: 2.2rem;
}

.title {
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
}