.container {
	width: 100%;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	justify-items: center;
	background-color: #fff;
	font-family: 'Varela Round', 'Arial', sans-serif;
	margin-top: 2.2rem;
	font-size: 100%;
}

.title {
	font-size: 3em;
	font-family: 'Oswald', sans-serif;
}

.form {
	display: flex;
	flex-direction: column;
	gap: .438em 0;
	width: 300px;
}

.input {
	height: 2.813em;
	width: 100%;
	border: none;
	background-color: #ecf0f1;
	outline-color: #141414;
	text-indent: .625em;
	padding-right: 1.5em;
}

.label {
	display: flex;
	align-items: center;
	border-radius: 3px;
	position: relative;
}

.labelNormal {
	border: 1px solid rgba(68, 68, 68, 0.247);

}

.labelError {
	border: 1px solid #ff0000;
}

.icon {
	padding: 0 .625rem;
	height: 2.813rem;
	font-size: 2.625rem;
	background-color: #ecf0f1;
}

.iconNormal {
	color: #141414;
}

.iconError {
	color: #ff0000;
}

.btn {
	transition: background-color 400ms ease;
	text-transform: uppercase;
	border-radius: 5px;
	color: #fff;
	font-size: .813em;
	padding: .625em 3.125em;
	align-self: center;
	margin-top: 1em;
}

.btnEnable {
	background-color: #141414;
	border: 1px solid #141414;
	cursor: pointer;
}

.btnDisable {
	background-color: #6363636b;
	border: 1px solid #ff0000;
	cursor: default;
}

.btnEnable:hover {
	background-color: transparent;
	color: #141414;
}

.btnEnable:active {
	background-color: #006eff46;
}

.error {
	width: 100%;
	border-radius: 8px;
	text-align: center;
	color: red;
	font-size: .938em;
}