* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%
}

button,
input {
  font-family: 'Varela Round', 'Arial', sans-serif;
}

button {
  user-select: none;
}

img {
  object-fit: cover;
}

body {
  max-width: 100vw;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  position: relative;
}

.marginFooter {
  margin-bottom: 14.063rem;
}

.effect {
  overflow: hidden;
}

.background::after {
  content: "";
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(135deg,
      #A4E9F9 0%,
      #C5AEF2 50%,
      #8578EA 100%);
  z-index: -1;
}

.Toastify {
  text-align: center;
}

@media (max-width: 590px) {
  html{
    font-size: 92%
  }
  .marginFooter {
    margin-bottom: 29.063rem;
  }
}