.container {
	height: 100%;
	color: #000;
	gap: 1.8vw 1.6vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 1.875rem 5vh 1.875rem;
}

.productContainer {
	text-align: center;
	box-shadow: 0 0 8px #000000de;
	padding: 0 .5rem .5rem .5rem;
	border-radius: 8px;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.productImg {
	height: 100%;
	transition: ease-in-out 200ms;
	user-select: none;
	border-radius: 8px;

}

.containerTwo {
	width: 80%;
}

.containerThree {
	width: 90%;
}

.containerDefault {
	width: 100%;
}

.productImg:hover {
	box-shadow: 0 0 5px #000000cc;
	scale: 1.05;
}

.imageContainer {
	cursor: pointer;
	position: relative;
}

.title {
	font-size: 1.063rem;
	text-decoration: none;
	color: #000;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	position: relative;
	font-size: 1.125rem;
}

.price::before {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #006eff;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -.625rem;
}

.parcel {
	margin: .188rem 0;
	font-size: 0.875rem;
	color: #535353;
	font-weight: 600;
}

.buy {
	width: 100%;
	height: 2.8em;
	cursor: pointer;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	border-radius: .9em;
	border: none;
	letter-spacing: .05em;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
}

.iconContainer {
	background: #f1f1f1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	right: 0.3em;
	transition: all 0.3s;
}

.buy:hover .iconContainer {
	width: calc(100% - 0.6em);
}

.icon {
	font-size: 1.3em;
	transition: transform 0.3s;
	color: #000;
}

.buy:hover .icon {
	transform: translateX(0.1em);
}

.btn:active .iconContainer {
	transform: scale(0.95);
}

.unavailable {
	width: 100%;
	cursor: default;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	padding: 0.35em;
	border-radius: 0.9em;
	border: none;
	letter-spacing: 0.05em;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	height: 2.8em;
	background-color: #535353c0;

}

@media (max-width: 590px) {
	.container {
		gap: 10vw 0;
		padding-bottom: 4.375rem;
	}
}

@media (max-width: 1072px) {
	.productContainerDefault {
		width: 21.875rem;
	}

	.productContainerThree {
		width: 26.563rem;
	}

	.productContainerTwo {
		width: 32.813rem;
	}

	.imageContainerDefault {
		height: 20.313rem;
	}

	.imageContainerThree {
		height: 25.313rem;
	}

	.imageContainerTwo {
		height: 31.875rem;
	}
}

@media (min-width: 1072px) {

	.productContainerDefault {
		width: 14.875rem;
	}

	.productContainerThree {
		width: 18.875rem;
	}

	.productContainerTwo {
		width: 22.813rem;
	}

	.imageContainerDefault {
		height: 13.313rem;
	}

	.imageContainerThree {
		height: 17.313rem;
	}

	.imageContainerTwo {
		height: 21.875rem;
	}
}

@media (min-width: 1170px) {
	.productContainerDefault {
		width: 15.975rem;
	}

	.productContainerThree {
		width: 19.563rem;
	}

	.productContainerTwo {
		width: 25.563rem;
	}

	.imageContainerDefault {
		height: 14.413rem;
	}

	.imageContainerThree {
		height: 18.313rem;
	}

	.imageContainerTwo {
		height: 24.313rem;
	}
}

@media (min-width: 1332px) {
	.productContainerDefault {
		width: 18.875rem;
	}

	.productContainerThree {
		width: 22.563rem;
	}

	.productContainerTwo {
		width: 30.813rem;
	}

	.imageContainerDefault {
		height: 17.313rem;
	}

	.imageContainerThree {
		height: 21.313rem;
	}

	.imageContainerTwo {
		height: 29.875rem;
	}
}

@media (min-width: 1534px) {

	.productContainerDefault {
		width: 21.875rem;
	}

	.productContainerThree {
		width: 26.563rem;
	}

	.productContainerTwo {
		width: 32.813rem;
	}

	.imageContainerDefault {
		height: 20.313rem;
	}

	.imageContainerThree {
		height: 25.313rem;
	}

	.imageContainerTwo {
		height: 31.875rem;
	}

}