.container {
	display: flex;
	justify-content: center;
	font-family: 'Varela Round', 'Arial', sans-serif;
	padding-top: 8rem;
}

.productsDetails {
	width: 22rem;
	display: flex;
	flex-direction: column;
}

.containerStars {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.title {
	font-size: 1.5rem;
	font-weight: 500;
}

.price {
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-size: 1.125rem;
}

.buy {
	width: 100%;
	height: 2.8rem;
	cursor: pointer;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	border-radius: .9rem;
	border: none;
	letter-spacing: .05rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	font-family: 'Varela Round', sans-serif;
}

.iconContainer {
	background: #f1f1f1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	right: 0.3em;
	transition: all 0.3s;
}

.buy:hover .iconContainer {
	width: calc(100% - 0.6em);
}

.icon {
	font-size: 1.3em;
	transition: transform 0.3s;
	color: #000;
}

.buy:hover .icon {
	transform: translateX(0.1em);
}

.btn:active .iconContainer {
	transform: scale(0.95);
}

.unavailable {
	width: 100%;
	height: 2.8rem;
	cursor: default;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	padding: 0.35em;
	border-radius: 0.9rem;
	border: none;
	letter-spacing: 0.05rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	background-color: #535353c0;

}

.imgUnavailable {
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(1);
	/* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1);
	/* Microsoft Edge and Firefox 35+ */
}