.container {
	height: 100%;
	color: #000;
	gap: 1.8vw 1.6vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 1.875em 5vh 1.875em;
	font-size: 100%;
}

.productContainer {
	text-align: center;
	padding: 0 .5em .5em .5em;
	border-radius: 8px;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.productImg {
	height: 100%;
	transition: ease-in-out 200ms;
	user-select: none;
	border-radius: 8px;

}

.containerTwo {
	width: 80%;
}

.containerThree {
	width: 90%;
}

.containerDefault {
	width: 100%;
}

.productImg:hover {
	box-shadow: 0 0 5px #000000cc;
	scale: 1.05;
}

.productContainerDefault {
	width: 18.875em;
}

.productContainerThree {
	width: 22.563em;
}

.productContainerTwo {
	width: 30.813em;
}

.imageContainerDefault {
	height: 17.313em;
}

.imageContainerThree {
	height: 21.313em;
}

.imageContainerTwo {
	height: 29.875em;
}

.imageContainer {
	cursor: pointer;
	position: relative;
	transition: 250ms ease-in-out;
}

.imgUnavailable {
	filter: gray;
	/* IE6-9 */
	-webkit-filter: grayscale(1);
	/* Google Chrome, Safari 6+ & Opera 15+ */
	filter: grayscale(1);
	/* Microsoft Edge and Firefox 35+ */
}

.title {
	font-size: 1.063em;
	text-decoration: none;
	color: #000;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.div {
	width: 25px;
	height: 2px;
	background-color: #006eff;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -.625em;
}
.containerPrice {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	column-gap: 1rem;
}

.price {
	font-size: 1.125em;
	font-family: 'Roboto', sans-serif;
}

.oldPrice {
	text-decoration: line-through;
	font-weight: lighter;
	font-size: .82rem;
	color: #7c7c7c;
}

.parcel {
	margin: .188em 0;
	font-size: .725em;
	color: #7c7c7c;
	font-weight: 600;
}

@media (max-width: 590px) {
	.container {
		gap: 3vh 2vw;
		padding-bottom: 4.375em;
	}
}

@media (max-width: 1331px) {
	.container {
		font-size: 80%;
	}

}

@media (min-width: 1332px) and (max-width: 1533px) {
	.container {
		font-size: 100%;

	}


}

@media (min-width: 1534px) {

	.container {
		font-size: 115%;
	}

}