.container {
	height: 100%;
	color: #000;
	gap: 1.8vw 1.6vw;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	padding: 0 1.875em 5vh 1.875em;
	font-size: 100%;
}

.productContainer {
	text-align: center;
	box-shadow: 0 0 8px #000000de;
	padding: 0 .5em .5em .5em;
	border-radius: 8px;
	font-family: 'Varela Round', 'Arial', sans-serif;
}

.productImg {
	height: 100%;
	transition: ease-in-out 200ms;
	user-select: none;
	border-radius: 8px;

}

.containerTwo {
	width: 80%;
}

.containerThree {
	width: 90%;
}

.containerDefault {
	width: 100%;
}

.productImg:hover {
	box-shadow: 0 0 5px #000000cc;
	scale: 1.05;
}

.productContainerDefault {
	width: 18.875em;
}

.productContainerThree {
	width: 22.563em;
}

.productContainerTwo {
	width: 30.813em;
}

.imageContainerDefault {
	height: 17.313em;
}

.imageContainerThree {
	height: 21.313em;
}

.imageContainerTwo {
	height: 29.875em;
}

.imageContainer {
	cursor: pointer;
	position: relative;
}

.title {
	font-size: 1.063em;
	text-decoration: none;
	color: #000;
	margin-bottom: 20px;
	margin-top: 10px;
	cursor: pointer;
	text-transform: capitalize;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.price {
	position: relative;
	font-size: 1.125em;
	font-family: 'Roboto', sans-serif;
}

.price::before {
	content: '';
	width: 25px;
	height: 2px;
	background-color: #006eff;
	position: absolute;
	top: -10px;
	left: 50%;
	margin-left: -.625em;
}

.parcel {
	margin: .188em 0;
	font-size: 0.775em;
	color: #535353;
	font-weight: 600;
}

.buy {
	width: 100%;
	height: 2.8rem;
	cursor: pointer;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	border-radius: .9rem;
	border: none;
	letter-spacing: .05rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	font-family: 'Varela Round', sans-serif;
}

.iconContainer {
	background: #f1f1f1;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 2.2em;
	width: 2.2em;
	border-radius: 0.7em;
	right: 0.3em;
	transition: all 0.3s;
}

.buy:hover .iconContainer {
	width: calc(100% - 0.6em);
}

.icon {
	font-size: 1.3em;
	transition: transform 0.3s;
	color: #000;
}

.buy:hover .icon {
	transform: translateX(0.1em);
}

.btn:active .iconContainer {
	transform: scale(0.95);
}

.unavailable {
	width: 100%;
	height: 2.8rem;
	cursor: default;
	margin-top: 0.625rem;
	background-color: #0e0e0e;
	text-transform: uppercase;
	font-size: 1.063rem;
	color: #fff;
	padding: 0.35em;
	border-radius: 0.9rem;
	border: none;
	letter-spacing: 0.05rem;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	background-color: #535353c0;

}

@media (max-width: 590px) {
	.container {
		gap: 10vw 0;
		padding-bottom: 4.375em;
	}
}

@media (max-width: 1331px) {
	.container {
		font-size: 80%;
	}

	.iconContainer {
		height: 1.8em;
		width: 1.8em;
	}

	.buy {
		height: 2.4em;
	}

	.unavailable {
		height: 2.4em;
	}

	.icon {
		font-size: 1.15em;
	}
}

@media (min-width: 1332px) and (max-width: 1533px) {
	.container {
		font-size: 100%;

	}


}

@media (min-width: 1534px) {

	.container {
		font-size: 115%;
	}

}